.main-header {
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #741188;
  padding: 0 2rem;
}

.main-header h1 {
  color: white;
}